﻿@model BloggingWebsite.Models.BlogModel

@{
    @ViewBag.categoryName;
}

<h2>Category: @ViewBag.categoryName</h2>

@{
    var posts = 0;
}

@if (Enumerable.Count(ViewBag.blgCategory) >= 5)
    {
        posts = 5;
    }
else
    {
        posts = Enumerable.Count(ViewBag.blgCategory);
    }

@for (int i = 0; i < posts; i++)

{
    <div class="card" style="width:100%">
        <img class="card-img-top" src="@ViewBag.blgCategory[i].ImageURL" alt="Card image" height="350" width="1050">
        <div class="card-body" style="padding-left:40%">
            <h4 class="card-title">Article Heading: @ViewBag.blgCategory[i].ArticleHeading</h4>
            <p class="card-text">@Html.ActionLink("Click Here For the full Blog", "Details", "BlogModels", new { id = ViewBag.blgCategory[i].ID }, new { @class = "" })</p>
        </div>
    </div>
    @Environment.NewLine;
}