﻿@model BloggingWebsite.Models.BlogModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="card" style="width:100%">
    <img class="card-img-top" src="@ViewBag.blgDetail.ImageURL" alt="Card image" height="350" width="1050">
    <div class="card-body" style="padding-left:40%">
        <h4 class="card-title">Article Heading: @ViewBag.blgDetail.ArticleHeading</h4>
        @switch (ViewBag.blgDetail.Category.CategoryName)
         {
            case "C#":<p class="card-text">Category: @Html.ActionLink((string)ViewBag.blgDetail.Category.CategoryName, "Category", "BlogModels", new { id = "CSharp" }, new { @class = "" })</p>
                break;
            case "CSS": <p class="card-text">Category: @Html.ActionLink((string)ViewBag.blgDetail.Category.CategoryName, "Category", "BlogModels", new { id = ViewBag.blgDetail.Category.CategoryName }, new { @class = "" })</p>
                break;
            case "Javascript": <p class="card-text">Category: @Html.ActionLink((string)ViewBag.blgDetail.Category.CategoryName, "Category", "BlogModels", new { id = ViewBag.blgDetail.Category.CategoryName }, new { @class = "" })</p>
                break;
            case "MVC.NET": <p class="card-text">Category: @Html.ActionLink((string)ViewBag.blgDetail.Category.CategoryName, "Category", "BlogModels", new { id = "MVC" }, new { @class = "" })</p>
                break;
         }
        <p class="card-text">Tags: @ViewBag.blgdetail.Tags</p>
        <p class="card-text">User: @Html.ActionLink((string)ViewBag.blgDetail.User.Name, "UserProfile", "BlogModels", new { id = ViewBag.blgDetail.User.Name }, new { @class = "" })</p>
        <p class="card-text">Content: @ViewBag.blgdetail.Content</p>
    </div>
</div>
