﻿@model IEnumerable<BloggingWebsite.Models.GoogleDrive>

@{
    ViewBag.Title = "GetGoogleDriveFiles";
}

<h2>View, Upload, Download and Delete Files from Google Drive</h2>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<style type="text/css">
    #header {
        width: 100%;
        background-color: #CCCCCC;
        text-align: center;
    }

    #layouttable {
        border: 0px;
        width: 100%;
        font-family: 'Segoe UI';
    }

        #layouttable td.col1 {
            width: 20%;
            vertical-align: top;
        }

        #layouttable td.col2 {
            width: 60%;
            vertical-align: top;
            background-color: #E8E8E8;
        }

        #layouttable td.col3 {
            width: 20%;
            vertical-align: top;
        }
</style>

<center>
    <div style="width:80%; text-align:left;">
        @using (Html.BeginForm("UploadFile", "BlogModels", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <p>
                <label for="file">Upload file:</label>
                <input type="file" name="file" id="file" />
                <input type="submit" value="Upload" />
            </p>
        }
    </div>

    <table class="table" border="1">
        <tr id="header">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedTime)
            </th>
            <th>
                Download
            </th>
            <th>
                Delete
            </th>
        </tr>

        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr id="layouttable">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @{
                            long? KiloByte = @item.Size / 1024;
                            string NewSize = KiloByte + " KB";
                        }
                        @NewSize
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Version)
                    </td>
                    <td>
                        @string.Format("{0: MM/dd/yyyy}", Convert.ToDateTime(Html.DisplayFor(modelItem => item.CreatedTime).ToString()))
                    </td>
                    <td>
                        <input type="button" class="DownloadFile" value="Download" data-key=@item.ID style="align-content:center" />
                    </td>
                    <td>
                        @using (Html.BeginForm("DeleteFile", "BlogModels", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="hidden" name=Id value="@item.ID">
                            <input type="submit" class="DeleteFile" value="Delete" style="align-content:center" />
                        }

                    </td>
                </tr>
            }
        }
        

    </table>

</center>

<script>
    $(document).on('click', '.DownloadFile', function () {
        var fileId = $(this).attr("data-key");
        window.location.href = '/BlogModels/DownloadFile/' + fileId;
    });
</script>
