﻿@model BloggingWebsite.Models.BlogModel
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="@ViewBag.blgmdl[0].ImageURL" height="250" width="1050">
            <div class="carousel-caption d-none d-md-block">
                <h2>@Html.ActionLink((string)ViewBag.blgmdl[0].ArticleHeading, "Details", "BlogModels", new{ id = ViewBag.blgmdl[0].ID }, new{ @class = "" }) Written By: @ViewBag.blgmdl[0].User.Name</h2>
            </div>
         </div>

            <div class="carousel-item">
                <img src="@ViewBag.blgmdl[1].ImageURL" height="250" width="1050">
                <div class="carousel-caption d-none d-md-block">
                    <h2>@Html.ActionLink((string)ViewBag.blgmdl[1].ArticleHeading, "Details", "BlogModels", new { id = ViewBag.blgmdl[1].ID }, new { @class = "" }) Written By: @ViewBag.blgmdl[1].User.Name</h2>
                </div>
             </div>

                <div class="carousel-item">
                    <img src="@ViewBag.blgmdl[2].ImageURL" height="250" width="1050">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>@Html.ActionLink((string)ViewBag.blgmdl[2].ArticleHeading, "Details", "BlogModels", new { id = ViewBag.blgmdl[2].ID }, new { @class = "" }) Written By: @ViewBag.blgmdl[2].User.Name</h2>
                    </div>
                 </div>

                    <div class="carousel-item">
                        <img src="@ViewBag.blgmdl[3].ImageURL" height="250" width="1050">
                        <div class="carousel-caption d-none d-md-block">
                            <h2>@Html.ActionLink((string)ViewBag.blgmdl[3].ArticleHeading, "Details", "BlogModels", new { id = ViewBag.blgmdl[3].ID }, new { @class = "" }) Written By: @ViewBag.blgmdl[3].User.Name</h2>
                        </div>
                     </div>

                        <div class="carousel-item">
                            <img src="@ViewBag.blgmdl[4].ImageURL" height="250" width="1050">
                            <div class="carousel-caption d-none d-md-block">
                                <h2>@Html.ActionLink((string)ViewBag.blgmdl[4].ArticleHeading, "Details", "BlogModels", new { id = ViewBag.blgmdl[4].ID }, new { @class = "" }) Written By: @ViewBag.blgmdl[4].User.Name</h2>
                            </div>
                        </div>
        </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

       <style>
            .carousel-caption 
            {
                text-align: left;
                padding: 10px;
            }
       </style>                             


