﻿@model IEnumerable<BloggingWebsite.Models.BlogModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@Html.ActionLink("Create New", "Create")</p>
<p>@Html.ActionLink("Home", "Home")</p>

<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArticleHeading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleHeading)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tags)
                </td>
                <td>
                    <img src="@Url.Content(item.ImageURL)" alt="Image" height="100" width="100" />
                    @*//@Html.DisplayFor(modelItem => item.ImageURL)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
                <td>
                    Posted By:  @Html.DisplayFor(modelItem => item.User.Name)
                </td>
            </tr>
        }

    </table>


@*<div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="@ViewBag.recentAdded[0].ImageURL" height="250" width="1050">
            </div>

            <div class="carousel-item">
                <img src="@ViewBag.recentAdded[1].ImageURL" height="250" width="1050">
            </div>

            <div class="carousel-item">
                <img src="@ViewBag.recentAdded[2].ImageURL" height="250" width="1050">
            </div>

            <div class="carousel-item">
                <img src="@ViewBag.recentAdded[3].ImageURL" height="250" width="1050">
            </div>

            <div class="carousel-item">
                <img src="@ViewBag.recentAdded[4].ImageURL" height="250" width="1050">
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>*@


