﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
            <a class="navbar-brand" href="/">
                ETP Blogs
                <img src="~/Images/Logo.png" alt="Site Logo" style="height:50px; width: 50px" />
            </a>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a href="/BlogModels/Category/CSharp" class="nav-link">C#</a></li>
                    <li class="nav-item"><a href="/BlogModels/Category/MVC" class="nav-link">MVC.NET</a></li>
                    <li class="nav-item"><a href="/BlogModels/Category/Javascript" class="nav-link">Javascript</a></li>
                    <li class="nav-item"><a href="/BlogModels/Category/CSS" class="nav-link">CSS</a></li>
                    <li class="nav-item"><a href="/BlogModels/Home" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/BlogModels/GetGoogleDriveFiles" class="nav-link">Google Drive</a></li>
                    <li class="nav-item"><a href="/BlogModels/Index" class="nav-link">Create/Edit/Delete</a></li>
                </ul>
                @Html.Partial("_LoginPartial") 
            </div>
        </div>
    </nav>
    @*<div class="navbar navbar-dark navbar-fixed-top bg-dark">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    <div class="container body-content">
        @Environment.NewLine;
        @Environment.NewLine;
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
